h1 {
    font-family:'Lucida Sans Unicode';
    font-weight: bold;
    font-style: oblique;
    font-size: 40px;
    text-align: left;
    margin-top: 150px;
    margin-bottom: 0px;
    margin-left: 20px;
    color: #070707;
}

p {
    font-family: Verdana;
    font-size: 13px;
    text-align: justify;
    margin-left: 20px;
    color: #070707;
}

a {
    text-decoration: none;
    color: #ffeaec;
    font-size: 15px;
    font-weight: bold;
}

h2 {
  color: #ff69eb;
  font-family:Georgia;
  font-size: 30px;
  text-align: center;
  text-shadow: 2px 2px 4px black;
  margin-bottom: 0px;
}


#f-perfil {
    max-width: 40%;
    max-height: 50%;
    margin-top: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
    border: 6px solid #eb7bc0;
}

#menu {
    background-color: #fcb5b5;
    width: 30%;
    height: 100vh;
    float: left;
}

.list {
    font-family: Calibri;
    color: #ffeaec;
    text-align: center;
    list-style-type: none;
}


#sobre {
    background-color: #faf6f6;
    width: 70%;
    height: 100vh;
    float: right;
}
.sobrenome {
    font-family:'Lucida Sans Unicode';
    font-weight: bold;
    font-style: oblique;
    font-size: 40px;
    text-align: left;
    margin-top: 150px;
    color: #fcb5b5;
}
.endereço {
    font-family:'Lucida Sans Unicode';
    font-weight: bold;
    font-style: oblique;
    font-size: 15px;
    text-align: left;
    margin-left: 20px;
    color: #070707; 
}

#email {
    color: #fcb5b5 ;
}
.icons a {
    text-align: justify;
    margin-left: 20px;
    font-size: small;
}

.lista-ordenada ol {
    margin: 0px 0px 0px 80px;
    text-align: justify;
    color: #0c0f0a;
    font-family: Verdana;
    font-size: 20px;
}

.lista-desordenada ul {
    margin-top: 80px;
    text-align: justify;
    font-family: Verdana;
    color: #0c0f0a;
    font-size: 20px;
}



